*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: aliceblue;
}

div{
    padding: 5vw;
}

h2{
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 5vw;
    color: cornsilk;
    background-color: crimson;
    border-radius: 30px;
    width: fit-content;
}

h2:hover{
    color: rgb(187, 93, 112);
    background-color: rgb(181, 216, 38);
  
}

p{
    font-size: 28px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::-webkit-scrollbar
{
  width: 15px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,rgb(15, 212, 28),yellow ,red );
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,rgb(173, 38, 137),rgb(45, 158, 199) ,rgb(219, 125, 30) );
    border-radius: 5px;
}

.scroll-box {
    height: 100vh;         
    overflow-y: scroll;   
    padding: 10px;
    
}

.scroll-box::-webkit-scrollbar {
    width: 12px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, red, yellow, green);
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 8vw;
        padding: 8px 15px;
    }
    p {
        font-size: 3vw;
        padding: 5px 0;
    }
    div {
        padding: 3vw;
    }
}


@media screen and (max-width: 480px) {
    h2 {
        font-size: 10vw;
        padding: 5px 10px;
    }
    p {
        font-size: 4vw;
        padding: 3px 0;
    }
    div {
        padding: 2vw;
    }
}






